$color-primary: #057D13;
$color-dark-accent: #03600E;

$color-menu-primary: #1e282c;
$color-menu-light-accent: #2c3b41;
$color-menu-dark-accent: #1a2226;
$color-menu-dark-text: #4b646f;
$color-menu-light-text: #b8c7ce;